<a href="https://colab.research.google.com/github/vaishnavi-patil05/Python/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related.

### Question 1
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [ ]:
import pandas as pd
import numpy as np
# energy=pd.read_excel('/content/Energy Indicators.xls')
# energy

In [ ]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
!pip install --upgrade xls

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xls
  Downloading xls-0.1.1.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 3.3 MB/s
Collecting PyV8
  Downloading PyV8-0.5.zip (22 kB)
Building wheels for collected packages: xls, PyV8
  Building wheel for xls (setup.py) ... done
  Created wheel for xls: filename=xls-0.1.1-py3-none-any.whl size=59442 sha256=70505a257311ffee23b3b75b5aa8180643b99ff17a77b07d8839d234645285b4
  Stored in directory: /root/.cache/pip/wheels/71/66/84/2960f53eee5ac635330aed05537c31c4a7eb21c49571b8ba90
  Building wheel for PyV8 (setup.py) ... error
  ERROR: Failed building wheel for PyV8
  Running setup.py clean for PyV8
Successfully built xls
Failed to build PyV8
Installing collected packages: PyV8, xls
    Running setup.py install for PyV8 ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-3zzjqgg2/pyv8_fccc535edb5c4e33a1681afdd9435a11/setup.py'"'"'; __file__='"'"'/tmp/pip-install-3zzjqgg2/pyv8_fccc535edb5c4e33a1681afdd9435a11/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-0ha3n1q3/install-record.txt --single-version-externally-managed --compile --install-headers /usr/local/include/python3.7/PyV8 Check the logs for full command output.

In [ ]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
import re
import numpy as np
# import openpyxl
# energy=openpyxl.load_workbook('Energy Indicators (1).xlsx')
energy=pd.read_excel('Energy Indicators (1).xlsx')#[3:]
del energy['Unnamed: 0']
del energy['Unnamed: 1']
energy.rename(columns={'Unnamed: 2':'Country',	'Unnamed: 3':'Energy Supply',	'Unnamed: 4':'Energy Supply per Capita',	'Unnamed: 5':'% Renewable'},inplace=True)
energy.loc[(energy['Energy Supply']=='...'),'Energy Supply'].replace('...',np.nan)
energy.loc[energy['Energy Supply'].notnull()]*1000000 
energy['Country'].replace({"Republic of Korea": "South Korea", "United States of America20": "United States", "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region3": "Hong Kong"},inplace=True)
energy.Country = energy.Country.str.replace(r" \(.*\)","")
energy.Country = energy.Country.str.replace(r"[0-9]","")
energy.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Last update: December 2015

In [ ]:
# import numpy as np
# energy['Energy Supply'].nunique()

In [ ]:
# energy.loc[energy['Energy Supply'].notnull()]*1000000

In [ ]:
ls

'Energy Indicators (1).xlsx'   sample_data/   scimagojr-3.xlsx   world_bank.csv

In [ ]:
GDP=pd.read_csv('/content/world_bank.csv')[3:]
GDP['Data Source'].replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"},inplace=True)
GDP.rename(columns=GDP.iloc[0],inplace=True)
GDP.drop(3,axis=0,inplace= True)
for col in GDP.select_dtypes(exclude='object').columns:
  GDP.rename(columns={col:int(col)},inplace=True)
GDP.reset_index(inplace = True)
GDP.rename(columns={'Country Name':'Country'},inplace=True)
GDP.head()

,index,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,4,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,5,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,6,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,7,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008860e+11,1.039110e+11
4,8,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [ ]:
GDP.drop(3,axis=0,inplace= True)
GDP.head()

,index,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,4,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,5,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,6,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
4,8,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
5,9,Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.763820e+12,1.863480e+12,1.980980e+12,2.011000e+12,2.103820e+12,2.173900e+12,2.318270e+12,2.385580e+12,2.436660e+12,2.509070e+12

In [ ]:
for col in GDP.select_dtypes(exclude='object').columns:
  GDP.rename(columns={col:int(col)},inplace=True)
GDP

ValueError: ignored

In [ ]:
GDP.reset_index(inplace = True)
GDP.head()

In [ ]:
GDP.drop(columns=['index'],axis=1,inplace= True)

In [ ]:
GDP.head()

In [ ]:
ScimEn=pd.read_excel('/content/scimagojr-3.xlsx')
ScimEn.head()

In [ ]:
# energy['Energy Supply']= energy.loc[(energy['Energy Supply']=='...'),'Energy Supply'].replace('...',np.nan)  
#energy['Energy Supply']= energy['Energy Supply'].replace('...',np.nan)

In [ ]:
import re
# a= lambda x:x[:-len(re.findall('\d',x))]
# energy[energy['Country'].str.match('\w+\d+')==True]['Country'].apply(a)
# energy[energy['Country'].str.match('\(')==True]

In [ ]:
# z={"Republic of Korea": "South Korea", "United States of America20": "United States", "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region3": "Hong Kong"}
# energy.loc[energy['Country'].isin(list(z.keys()))]

In [ ]:
# energy['Country'].isin(list(z.keys())).sum()
# energy['Country'].unique()

In [ ]:
energy['Country'].head(45)

In [ ]:
df = pd.merge(energy, GDP, on='Country', how='inner')
df = df.merge(ScimEn,how='right', on='Country')
df.head()

In [ ]:
import pandas as pd
import numpy as np
import re
def ENERGY():
  energy=pd.read_excel('/content/Energy Indicators (1).xlsx')[17:]
  del energy['Unnamed: 0']
  del energy['Unnamed: 1']
  energy.rename(columns={'Unnamed: 2':'Country',	'Unnamed: 3':'Energy Supply',	'Unnamed: 4':'Energy Supply per Capita',	'Unnamed: 5':'% Renewable'},inplace=True)
  energy.loc[(energy['Energy Supply']=='...'),'Energy Supply'].replace('...',np.nan)
  energy.loc[energy['Energy Supply'].notnull()]*1000000 
  energy['Country'].replace({"Republic of Korea": "South Korea", "United States of America20": "United States", "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region3": "Hong Kong"},inplace=True)
  energy.Country = energy.Country.str.replace(r" \(.*\)","")
  energy.Country = energy.Country.str.replace(r"[0-9]","")
  return energy

def gdp():
  GDP=pd.read_csv('/content/world_bank.csv')[3:]
  GDP['Data Source'].replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"},inplace=True)
  GDP.rename(columns=GDP.iloc[0],inplace=True)
  GDP.drop(3,axis=0,inplace= True)
  for col in GDP.select_dtypes(exclude='object').columns:
    GDP.rename(columns={col:int(col)},inplace=True)
  GDP.reset_index(inplace = True)
  GDP.rename(columns={'Country Name':'Country'},inplace=True)
  return GDP[['Country', 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]]


def scimen(): 
  Scimen=pd.read_excel('/content/scimagojr-3.xlsx')
  return Scimen

def answer_one():
  energy=ENERGY()
  GDP=gdp()
  Scimen=scimen()

  df = pd.merge(energy, GDP, on='Country', how='inner')
  df = df.merge(Scimen,how='right', on='Country')
  df.set_index('Country',inplace=True)
  df=df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]]
  return  df[df['Rank'] <= 15]


answer_one()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191,93,19.75491,3.992330e+12,4.559040e+12,4.997780e+12,5.459250e+12,6.039660e+12,6.612490e+12,7.124980e+12,7.672450e+12,8.230120e+12,8.798000e+12
United States,2,96661,94747,792274,265436,8.20,230,90838,286,11.57098,1.479230e+13,1.505540e+13,1.501150e+13,1.459480e+13,1.496440e+13,1.520400e+13,1.554220e+13,1.577370e+13,1.615660e+13,1.654860e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984,149,10.23282,5.496540e+12,5.617040e+12,5.558530e+12,5.251310e+12,5.498720e+12,5.473740e+12,5.569100e+12,5.644660e+12,5.642880e+12,5.669560e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920,124,10.60047,2.419630e+12,2.482200e+12,2.470610e+12,2.367050e+12,2.403500e+12,2.450910e+12,2.479810e+12,2.533370e+12,2.605640e+12,2.666330e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709,214,17.28868,1.385790e+12,1.504070e+12,1.583000e+12,1.459200e+12,1.524920e+12,1.589940e+12,1.645880e+12,1.666930e+12,1.678710e+12,1.616150e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431,296,61.94543,1.564470e+12,1.596740e+12,1.612710e+12,1.565140e+12,1.613410e+12,1.664090e+12,1.693130e+12,1.730690e+12,1.773490e+12,1.792610e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261,165,17.90153,3.332890e+12,3.441560e+12,3.478810e+12,3.283340e+12,3.417300e+12,3.542370e+12,3.556720e+12,3.567320e+12,3.624390e+12,3.685560e+12
India,8,15005,14841,128763,37209,8.58,115,33195,26,14.96908,1.265890e+12,1.374870e+12,1.428360e+12,1.549480e+12,1.708460e+12,1.821870e+12,1.924240e+12,2.051980e+12,2.200620e+12,2.367210e+12
France,9,13153,12973,130632,28601,9.93,114,10597,166,17.02028,2.607840e+12,2.669420e+12,2.674640e+12,2.595970e+12,2.646990e+12,2.702030e+12,2.706970e+12,2.722570e+12,2.729630e+12,2.761190e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007,221,2.279353,9.410200e+11,9.924320e+11,1.020510e+12,1.027730e+12,1.094500e+12,1.134800e+12,1.160810e+12,1.194430e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530,109,33.66723,2.202170e+12,2.234630e+12,2.211150e+12,2.089940e+12,2.125180e+12,2.137440e+12,2.077180e+12,2.040870e+12,2.033870e+12,2.049320e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923,106,37.96859,1.414820e+12,1.468150e+12,1.484530e+12,1.431480e+12,1.431670e+12,1.417350e+12,1.380220e+12,1.357140e+12,1.375610e+12,1.419820e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172,119,5.707721,3.895520e+11,4.250650e+11,4.289910e+11,4.389210e+11,4.677900e+11,4.853310e+11,4.532570e+11,4.445930e+11,4.639030e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386,231,11.81081,1.021940e+12,1.060340e+12,1.099640e+12,1.119650e+12,1.142250e+12,1.169430e+12,1.211910e+12,1.241480e+12,1.272520e+12,1.301250e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149,59,69.64803,1.845080e+12,1.957120e+12,2.056810e+12,2.054210e+12,2.208870e+12,2.295240e+12,2.339210e+12,2.409740e+12,2.412230e+12,2.319420e+12

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [ ]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
  energy=ENERGY()
  GDP=gdp()
  Scimen=scimen()
  df= pd.merge(energy, GDP, on='Country', how='inner')
  df= df.merge(Scimen,how='right', on='Country')
   
  dff=pd.merge(energy,GDP,how='outer')
  dff=dff.merge(Scimen,how='outer')

  diff=len(dff)-len(df)

  

  return diff

answer_two()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

166

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_three():
  Top15 = answer_one()
  df=pd.Series(Top15[[ 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]].mean(axis=1),name='avgGDP')
  return df.sort_values(ascending=False).head(15)
  


answer_three()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

Country
United States         1.536435e+13
China                 6.348610e+12
Japan                 5.542208e+12
Germany               3.493026e+12
France                2.681725e+12
United Kingdom        2.487905e+12
Brazil                2.189793e+12
Italy                 2.120175e+12
India                 1.769298e+12
Canada                1.660648e+12
Russian Federation    1.565459e+12
Spain                 1.418079e+12
Australia             1.164041e+12
South Korea           1.106715e+12
Iran                  4.441559e+11
Name: avgGDP, dtype: float64

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    Top15 = answer_one()
    Top15['top']=Top15[2015]-Top15[2006]
    Top15['AVERAGE']=Top15[[ 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]].mean(axis=1)
    # h=average.sort_values(ascending=False).iloc[5,]
    answer=Top15.sort_values('AVERAGE',ascending=False).iloc[5,]


    
    return answer['top']

answer_four()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

246700000000.0

### Question 5
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [ ]:
def answer_five():
    Top15 = answer_one()
    m=Top15['Energy Supply per Capita'].mean()
    return m
answer_five()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

157.6

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    Top15 = answer_one()
    x=Top15['% Renewable'].idxmax()
    y=Top15['% Renewable'].max()
    return x,y
answer_six()

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    Top15 = answer_one()

    Top15['citation_ratio'] = Top15['Self-citations']/Top15['Citations']
    
    r1= Top15['citation_ratio'].idxmax()
    r2=Top15['citation_ratio'].max()
    return r1 ,r2
answer_seven()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

('China', 0.6893126179389422)

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
    Top15 = answer_one()
    Top15['population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    return Top15['population'].sort_values(ascending=False).index[2]

answer_eight()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

'United States'

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
  Top15 = answer_one()
  Top15['population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']    
  Top15['cit document']=Top15['Citable documents']/Top15['population']
  # return Top15.corr(method='pearson')
  return   Top15[['cit document','Energy Supply per Capita']].corr(method='pearson').loc['cit document','Energy Supply per Capita']

answer_nine()

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [1]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

#### Solutions

Hope learnt something new while doing this assigment. You can find the solutions [here](Assignment_2Solution.ipynb).